.questions {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  height: 100%;
  max-height: 100vh;

  padding: 20px;

  transition: opacity 1s ease;
}

.container {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 260px;
  padding: 0 10px;

  overflow-y: auto;
  overflow-x: visible;
}

.container > button + button, .container > h3 + button, .container > div + div, .container > h3 + div {
  margin-top: 10px;
}

.back {
  margin-top: 15px;
  cursor: pointer;
}

.forward {
  cursor: pointer;
}
