.questions {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  padding: 5px 18px 24px;

}

.content {
  width: min(100%, 420px);
}

.container > button + button, .container > h3 + button, .container > div + div, .container > h3 + div {
  margin-top: 10px;
}

.back {
  margin-top: 15px;
  cursor: pointer;
}

.forward {
  cursor: pointer;
}
