.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;

  color: var(--border-inversed);
  text-align: center;
}

.deck {
  margin: auto;
}

.finish {
  display: flex;
  align-items: center;
  margin: auto;
}

.finish > button {
  margin-left: 10px;
}
