.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;

  color: var(--text-primary);
  text-align: center;
}

.deck {
  margin: auto;
}

.finish {
  display: flex;
  align-items: center;
  margin: auto;
}

.finish > .button {
  margin-left: 10px;
}

.loadingMessage {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
