.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.buttons > button + button {
  margin-top: 10px;
}

.arrow {
  margin-top: 10px;
}
