.limit {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
  max-width: 80%;
  padding: 10px;

  text-align: center;
  border: 1px solid var(--border-secondary);
  border-radius: 10px;

  color: var(--text-primary);
}

.link {
  margin-top: 20px;
  color: var(--text-primary);
  text-decoration: none;
}
