.torch {
  width: 40px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36%;
  height: 40%;
  animation: flame 2s infinite linear;
  transform-origin: bottom;
}

.red {
  width: 30%;
  height: 20%;
  background-color: #fb471f;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  filter: blur(4px);

  animation: shake 1s infinite linear;
}

.yellow {
  width: 100%;
  height: 70%;
  background-color: #ffff00;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-right: 1px solid #fb471f;
  border-left: 3px solid #fb471f;

  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  filter: blur(4px);

  box-shadow: 0px 0px 20px 2px #ffff00;

  animation: shake 1s infinite linear;
}

.blue {
  width: 40%;
  height: 20%;
  background-color: #2a38ff;
  filter: blur(5px);

  animation: shake 1s infinite linear;
}

.wick {
  height: 4px;
  width: 3px;
  background-color: #1c1c1c;
  filter: blur(1px);
}

.stick {
  height: 100%;
  width: 55%;
  background-color: #f0f086;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  border-left: 5px solid #89891f;
  border-right: 5px solid #b4b42d;

  opacity: 0.7;
  filter: blur(3px);
  box-shadow: 0px 0px 7px 0px #f0f086;
}

.bottom {
  height: 1%;
  width: 80%;
  background-color: #232314;
  filter: blur(5px);
  box-shadow: -60px -16px 28px 5px #232314;
}

@keyframes flame {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(1px);
  }

  50% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0px);
  }
}
