.inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.6s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.reversed {
  transform: rotateY(180deg);
}

.inverted {
  transform: scaleY(-1);
}

.clickable {
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;

  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  display: flex;
  flex-direction: column;

  background-image: url('/assets/images/card/cover/back.jpeg');
  background-size: cover;
  padding: 6px 6px 0px 6px;
}

.back {
  transform: rotateY(180deg);

  background-image: url('/assets/images/card/cover/back.jpeg');
  background-size: cover;
}

.front-gray {
  background-image: url('/assets/images/card/cover/back_gray.png');
}

.front-bronze {
  background-image: url('/assets/images/card/cover/back_bronze.png');
}

.back-gray {
  background-image: url('/assets/images/card/cover/back_gray.png');
}

.back-bronze {
  background-image: url('/assets/images/card/cover/back_bronze.png');
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.image {
  height: 100%;
  width: auto;

  border-radius: 10px;
}

.image-xs {
  border-radius: 3px;
}

.image-s {
  height: 95%;
  border-radius: 4px;
}

.image-m {
  height: 90%;
  border-radius: 4px;
}

.image-l {
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  font-family: 'Monomakh';
  font-weight: 700;
  text-align: center;
  color: #3e3e3e;
}

.footer-gray {
  color: #fffb8d;
}

.footer-bronze {
  color: #fffb8d;
}

.name {
  margin: 0;

  font-family: 'Monomakh' !important;
  font-weight: bold;
  text-transform: uppercase;
}

.name-xs {
  font-size: 4px;
}

.name-s {
  font-size: 6px;
}

.name-m {
  font-size: 8px;
}

.name-l {
  font-size: 11px;
}

.short {
  font-size: 9px;
}

.container {
  overflow: hidden;
  z-index: 1;
}

.container-xs {
  width: 30px;
  height: 60px;
  min-width: 30px;
  min-height: 60px;
  border-radius: 3px;
}

.container-s {
  width: 50px;
  height: 100px;
  min-width: 50px;
  min-height: 100px;
  border-radius: 7px;
}

.container-m {
  width: 60px;
  height: 120px;
  min-width: 60px;
  min-height: 120px;
  border-radius: 7px;
}

.container-l {
  width: 85px;
  height: 158px;
  min-width: 85px;
  min-height: 158px;
  border-radius: 10px;
}
