.accordion {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 265px;
  color: var(--text-primary);
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
}

.section + .section {
  margin-top: 5px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-shadow: 1px 1px #363636;
}

.items-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease;
}

.items-wrapper--opened {
  grid-template-rows: 1fr;
}

.items {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 225px;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;
}

.item + .item {
  margin-top: 5px;
}

.title {
  text-shadow: 1px 1px #000;
}

.text {
  font-size: 13px;
  padding-bottom: 10px;
}

.sign {
  margin-left: 5px;
  position: relative;
}

.core {
  box-shadow: inset 0px 0px 20px 5px #fff;
}

.mind {
  box-shadow: inset 0px 0px 20px 5px #adedf9;
}

.work {
  box-shadow: inset 0px 0px 20px 5px #f9efad;
}

.love {
  box-shadow: inset 0px 0px 20px 5px #f9adad;
}

.social {
  box-shadow: inset 0px 0px 20px 5px #d3f9ad;
}

.karmic {
  box-shadow: inset 0px 0px 20px 5px #f5adf9;
}

.hidden {
  display: none;
}

/* Базовый шеврон */
.chevron {
  position: absolute;
  right: 15px;
  bottom: 18px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* Направления */
.chevron.up {
  bottom: 12px;
  transform: rotate(-135deg);
}
.chevron.down {
  transform: rotate(45deg);
}
