.container {
  margin-top: 10px;
}

.loyalty {
  display: flex;
  flex-direction: column;
  max-height: 130px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-bottom: 10px;
}

.item {
  position: relative;
  min-height: 130px;
  width: 240px;
}

.tiers {
  position: relative;
  display: flex;
  align-items: center;
  height: 20px;
}

.tier {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon {
  width: 21px;
  height: 21px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 2px var(--border-secondary);
}

.line {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 0px;
  width: 45%;
  box-shadow: 0px 0px 10px 2px var(--border-secondary);
}

.line-left {
  left: 0px;
}

.line-right {
  right: 0px;
}

.description {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 14px;
}

.name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

.conditions {
  margin-top: 5px;
}

.bonuses {
  margin-top: 5px;
  padding-left: 10px;
}

.bonus {
  display: inline-flex;
  align-items: center;
}

.coin,
.discount {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  display: inline-block;
}

.current {
  box-shadow: 0px 0px 10px 4px #ffffff;
}

.current-text {
  text-shadow: 0px 0px 10px #ffffff;
}
