.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.text {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;

  color: var(--text-primary);

  border: 1px solid var(--border-secondary);
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text,
.text * {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif !important;
}

.text p,
.text h2,
.text h3,
.text h4,
.text ul,
.text ol {
  margin: 0;
}

.text p + p,
.text p + ul,
.text p + ol,
.text ul + p,
.text ol + p,
.text h2 + *,
.text h3 + *,
.text h4 + * {
  margin-top: 10px;
}

.text h2,
.text h3,
.text h4 {
  line-height: 1.25;
  color: var(--text-primary);
}

.text h2 {
  font-size: 18px;
}

.text h3 {
  font-size: 16px;
}

.text h4 {
  font-size: 14px;
}

.text ul,
.text ol {
  padding-left: 22px;
}

.text li + li {
  margin-top: 5px;
}

.text > span + span {
  margin-top: 7px;
}

.title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-primary);
}
