.btn {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;

  font-weight: 500;
  text-decoration: none;
  font-size: 15px;

  cursor: pointer;
  transition: all 0.2s ease;
  background-color: var(--background-primary);
  color: var(--text-secondary);
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  white-space: nowrap;
}

.btn * {
  font-family: 'Monomakh' !important;
}

.btn__content--loading {
  animation: blink 1s infinite;
}

/* Состояния */
.btn:not(.btn--disabled):hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.btn:not(.btn--disabled):active {
  transform: translateY(0);
}

.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
}

.btn--loading {
  pointer-events: none;

  animation: loading 1s infinite;
}

.icon-right {
  position: absolute;
  right: 10px;
}

@keyframes loading {
  from {
    box-shadow:
      0 0 5px var(--shadow-primary),
      0 0 10px var(--shadow-primary);
  }
  to {
    box-shadow:
      0 0 20px var(--shadow-primary),
      0 0 30px var(--shadow-primary);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
