.header {
  position: fixed;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 100%;
  height: 30px;

  color: var(--border-primary);

  background-color: var(--gradient-secondary);
}

.header-mobile {
  padding-top: 80px;
  height: 120px;
}

.settings,
.home,
.globe,
.moon,
.audio {
  width: 30px;
  height: 30px;

  color: var(--text-primary);

  cursor: pointer;
}

.globe {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.home {
  width: 25px;
  height: 25px;
}

.moon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.audio {
  width: 23px;
  height: 23px;
  margin-right: 10px;
}

.title {
  margin-left: 30px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);

  color: var(--border-primary);

  cursor: default;
  pointer-events: none;
}

.leftSection {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  padding-left: 10px;
}

.pentacle {
  margin-left: 5px;
}

.balance {
  height: fit-content;
  font-size: 18px;
  text-shadow: #ffffff 1px 1px 10px;
}

.rightSection {
  position: relative;

  display: flex;
  align-items: center;
  transition: opacity 1s ease;
}

.rightSection-loading {
  opacity: 0;
}

.langs,
.themes {
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;

  background-color: var(--background-primary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
}

.langs {
  right: 10px;
}

.themes {
  top: 100%;
  right: 40px;
}

.lang,
.theme {
  padding: 15px;
  cursor: pointer;
}

.lang:last-child,
.theme:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.lang:first-child,
.theme:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.selected {
  background-color: var(--background-secondary);
  color: var(--text-primary);
}

.tooltip {
  min-width: 80px;
}

.hidden {
  opacity: 0;
}

.loading {
  background: #323232;
}
