.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.item + .item {
  margin-top: 1rem;
}

.label {
  position: relative;

  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  padding: 1px;

  border: 1px solid #51270066;
  border-radius: 50%;
  cursor: pointer;
}

.label-selected {
  box-shadow: 0 1px 25px var(--shadow-primary);
}

.label-selected::after {
  content: '';

  position: absolute;
  left: 3px;
  bottom: 3px;

  width: 0.5rem;
  height: 0.5rem;

  background-color: rgba(128, 0, 128, 0.9);
  box-shadow: 0 1px 10px rgba(128, 0, 128);
  border-radius: 50%;
}

.label-text {
  color: #3e3e3e;
}

.radio {
  display: none;
}

.description {
  display: inline-flex;

  font-family: 'Monomakh';
  color: #3e3e3e;
}
