.accordion {
  display: flex;
  flex-direction: column;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
}

.section + .section {
  margin-top: 10px;
}

.button {
  width: 100%;
  max-width: 100%;
  margin-bottom: 5px;
  white-space: normal;
  border-color: var(--border-secondary);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------- Arrow icon ---------- */

.arrow {
  position: absolute;
  right: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  transform: rotate(-90deg);

  color: inherit;
}

.arrow--open {
  position: absolute;
  right: 10px;
  transform: rotate(90deg);
}

/* ---------- Content wrapper (sliding animation) ---------- */

.content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.35s ease;
}

.content-wrapper--open {
  grid-template-rows: 1fr;
  padding: 10px;
  padding-right: 0;
}

.content-inner {
  overflow: hidden;
  overflow-y: auto;
  max-height: 168px;
  padding-right: 10px;
}

.sub-item {
  display: grid;
  grid-template-columns: 1fr;
}

.sub-item + .sub-item {
  margin-top: 5px;
}

.sub-item__button {
  width: 100%;
  max-width: 100%;
  white-space: normal;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--border-secondary);
  border-left: none;
  border-right: none;
}

.sub-item__description {
  padding: 6px 12px;

  color: var(--text-primary);
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--border-secondary);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.sub-item:last-child .sub-item__description {
  border-bottom: 1px solid var(--border-secondary);
}

/* ---------- Custom content ---------- */

.content {
  padding: 12px 16px 16px;
  color: var(--text-primary);
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid var(--border-secondary);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

/* Базовый шеврон */
.chevron {
  position: absolute;
  right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
}

/* Направления */
.chevron.up {
  transform: rotate(-135deg);
}
.chevron.down {
  transform: rotate(45deg);
}
.chevron.left {
  transform: rotate(135deg);
}
.chevron.right {
  transform: rotate(-45deg);
}
