.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--border-inversed);
  text-align: center;
}

.input {
  height: 200px;
  margin: 18px;
  resize: none;
}

.arrow {
  position: absolute;
  right: -20px;

  width: 30px;
  height: 30px;
}
