.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  color: var(--text-primary);
  font-size: 14px;
  text-shadow: 1px 1px 2px #353535;
  animation: fadeIn 4s ease;
}

.circle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.position {
  display: inline-flex;
}

.position + .position {
  margin-top: 5px;
}

.ingress {
  display: flex;
  align-items: center;
}

.ingress + .ingress {
  margin-top: 5px;
}

.positions-list {
  padding-left: 15px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 1;
  color: var(--text-primary);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 10px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 240px;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 20px;
  padding-right: 5px;
  z-index: 1;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  width: fit-content;
}

.sign {
  position: relative;
  margin-left: 10px;
}

.planet {
  margin-right: 5px;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item + .item {
  margin-top: 5px;
}

.sun {
  color: #f8f800;
}

.mars {
  color: #b00000;
}

.mercury {
  color: #707070;
}

.venus {
  color: #a7ac78;
}

.moon {
  color: #ffffff;
}

.neptune {
  color: #3859ff;
}

.uranus {
  color: #38d7ff;
}

.saturn {
  color: #a06823;
}

.jupiter {
  color: #e09943;
}

.pluto {
  color: #7f7a74;
}
