.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  color: var(--text-primary);
  font-size: 14px;
  text-shadow: 1px 1px 2px #353535;
  animation: fadeIn 4s ease;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.circle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.position {
  display: inline-flex;
}

.position + .position {
  margin-top: 5px;
}

.ingress {
  display: flex;
  align-items: center;
}

.ingress + .ingress {
  margin-top: 5px;
}

.positions-list {
  padding-left: 15px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  z-index: 1;
  color: var(--text-primary);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 10px;
}
