.button {
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  color: var(--text-primary);
}

.button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
