.deck {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 4.8rem;

  border-radius: 3px;
  background-image: var(--card-cover-image);
  background-size: cover;
}

.spinner {
  z-index: 40;
}

.deck-reading {
  animation: reading 4s;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 4px 20px var(--shadow-primary);
}

@keyframes reading {
  5% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  45% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  55% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  65% {
    transform: rotate(5deg);
  }

  70% {
    transform: rotate(-5deg);
  }

  80% {
    transform: rotate(5deg);
  }

  90% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
