* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  height: 100vh;
  height: 100dvh;
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: auto;
}

body {
  height: 100%;
}
