.title {
  text-align: center;
  color: var(--text-secondary);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.container > div + h3 {
  margin-top: 16px;
}

.spreads,
.summaries {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-right: 20px;
  overflow-y: auto;
  z-index: 100;
}

.list > div + div {
  margin-top: 16px;
}

.spread,
.summary {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.summary {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 110px;
  color: var(--text-secondary);
  font-size: 14px;
  margin-right: 16px;
}

.info * {
  margin-top: 5px;
}

.cards,
.interpretation {
  display: flex;
  align-items: center;
  width: 200px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.interpretation {
  max-height: 115px;
  overflow-y: auto;
  color: var(--text-secondary);
}

.card {
  width: 50px;
  min-width: 50px;
  height: 100px;
}

.card + .card {
  margin-left: 10px;
}

.card * {
  font-size: 5px;
}

.zodiac {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary);
}

.summary-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.spinner {
  margin-top: 10px;
}
