.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.image {
  height: 200px;
  width: 180px !important;

  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
