.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}

.small {
  height: 20px;
  width: 20px;
  color: var(--text-primary);
  fill: var(--text-primary);
}

.zodiac-small {
  width: 20px;
  height: 20px;
  position: absolute;
}

.image {
  height: 200px;
  width: 180px !important;

  animation: fadeIn 0.5s ease-in-out;
}

.light-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.light {
  width: 0px;
  height: 0px;
  border-radius: 100%;
}

.light2 {
  width: 0px;
  height: 0px;
  border-radius: 100%;
}

.Aries,
.Leo,
.Sagittarius {
  box-shadow: 0px 0px 10px 10px #b32a04;
}

.Aries-highlighted,
.Leo-highlighted,
.Sagittarius-highlighted {
  box-shadow: 0px 0px 20px 25px #b32a04;
}

.light2-Aries,
.light2-Leo,
.light2-Sagittarius {
  box-shadow: 0px 0px 8px 5px #fffb00;
}

.Taurus,
.Virgo,
.Capricorn {
  box-shadow: 0px 0px 10px 10px #80c000;
}

.Taurus-highlighted,
.Virgo-highlighted,
.Capricorn-highlighted {
  box-shadow: 0px 0px 20px 25px #80c000;
}

.light2-Taurus,
.light2-Virgo,
.light2-Capricorn {
  box-shadow: 0px 0px 8px 5px #c78840;
}

.Gemini,
.Libra,
.Aquarius {
  box-shadow: 0px 0px 10px 10px #79f6f6;
}

.Gemini-highlighted,
.Libra-highlighted,
.Aquarius-highlighted {
  box-shadow: 0px 0px 20px 25px #79f6f6;
}

.light2-Gemini,
.light2-Libra,
.light2-Aquarius {
  box-shadow: 0px 0px 8px 5px #ffffff;
}

.Cancer,
.Scorpio,
.Pisces {
  box-shadow: 0px 0px 10px 10px #7988f6;
}

.Cancer-highlighted,
.Scorpio-highlighted,
.Pisces-highlighted {
  box-shadow: 0px 0px 20px 25px #7988f6;
}

.light2-Cancer,
.light2-Scorpio,
.light2-Pisces {
  box-shadow: 0px 0px 8px 5px #00fbff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
